{
  "semi": true,
  "singleQuote": true,
  "parser": "none",
  "usePrettierrc": false,
  "trailingComma": "all",
  "printWidth": 180,
  "bracketSpacing": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "fileInfoOptions": {
    "withNodeModules": true
  }
}